
/Source/review-this-comment-api/comment-api/bin*
/Source/review-this-comment-api/comment-api/obj*
/Source/review-this-review-api/review-api/bin*
/Source/review-this-review-api/review-api/obj*

.vs
*.sln