/Source/Movie Review Api Collection/.vs*
/Source/Movie Review Api Collection/Movie Review Api Collection.sln
/Source/Movie Review Api Collection/Review Api/bin*
/Source/Movie Review Api Collection/Review Api/obj*
/Source/Movie Review Api Collection/Comment Api/bin*
/Source/Movie Review Api Collection/Comment Api/obj*
